#root {
  --main-bg-side-dark: #212529;
  --main-bg-pagebox-dark: #1f2125;
  --main-bg-box-dark: #2d3136;
  --main-bg-box-item-dark: #2a2e32;
  --text-dark: white;
  --main-bg-cool-rgb-dark: rgba(255, 255, 255, 0.2);

  --main-bg-pagebox-white: #f7f6fb;
  --main-bg-box-item-white: #f7f6fb;
  --main-bg-box-white: #f7f6fb;
  --main-bg--side-white: #fff;
  --text-light: #191919;
  --main-bg-cool-rgb-white: rgba(0, 0, 0, 0.2);
}

[color-scheme="dark"] {
  --main-bg-side: var(--main-bg-side-dark);
  --text: var(--text-dark);
  --main-bg-box: var(--main-bg-box-dark);
  --main-bg-box-item: var(--main-bg-box-item-dark);
  --main-bg-cool-rgb: var(--main-bg-cool-rgb-dark);
  --main-bg-pagebox: var(--main-bg-pagebox-dark);
}
[color-scheme="light"] {
  --main-bg-side: var(--main-bg--side-white);
  --text: var(--text-light);
  --main-bg-box: var(--main-bg-box-white);
  --main-bg-box-item: var(--main-bg-box-item-white);
  --main-bg-cool-rgb: var(--main-bg-cool-rgb-white);
  --main-bg-pagebox: var(--main-bg-pagebox-white);
}
.contiantien-post {
  padding: 5px;
  width: 100%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.wraperrrfnnf-efnv {
  height: calc(100vh - 80px);

  max-height: calc(1500px - 80px);
  overflow: scroll;
  padding-bottom: 70px;
}
.contiantien-postt {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 5px;
  padding: 3px;
  justify-content: center;
  border: 1px solid red;
}

.contiantien-postt div {
  border-radius: 5px;
  border: 1px solid red;
}
.box-media-boxx:before {
}
.contiantien-postt > div:nth-child(1n) {
  grid-row-end: span 15;
}
.contiantien-postt > div:nth-child(2n) {
  grid-row-end: span 20;
}
.contiantien-postt > div:nth-child(3n) {
  grid-row-end: span 25;
}

.card_small {
  grid-row-end: span 15;
}

.card_medium {
  grid-row-end: span 20;
}

.card_large {
  grid-row-end: span 25;
  max-height: 250px;
}
.rjetrjjrj {
  display: flex;
  color: var(--text);
  text-decoration: none;
  margin-left: 3px;
}
.rjetrjjrj .icon {
  margin-right: 5px;
}
.video-post video {
  border-radius: 5px;
}
.box-media-box:hover .alodjrr {
  opacity: 1;
}
.box-media-box:hover .box-that-hold-the-media {
  opacity: 0.5;
}
.alodjrr {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 0;
  opacity: 0;
  right: 0;
  display: flex;
  font-size: 18px;
  margin: 10px;
  z-index: 10000;
  color: white;
  border: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--main-bg-cool-rgb);
  backdrop-filter: blur(40px);
  transition: 0.2s ease;
}
.boxfhjs-todTRRRJ:hover {
  background-color: var(--main-bg-cool-rgb);
  opacity: 1;
}
.boxfhjs-todTRRRJ {
  opacity: 0;

  top: 0;
  width: 100%;
  border-radius: 5px;
  display: flex;
  z-index: 1000;
  justify-content: flex-end;
  height: calc(100% - 60px);
  transition: 0.2s ease;
}
.mddjndd-kfjf {
  width: calc(100% - 50px);
  height: 50px;
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  color: var(--text);
  background-color: transparent;
  border: 0;
}
.box-thsthn .wrieii {
  width: 100%;
}
.rj0ojrj-rjosl {
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  height: calc(100% - 60px);
}

.box-media-box {
  position: relative;
  margin: 5px;
  animation: fadeIn;
  animation-duration: 0.5s;
}
.info-about p {
  margin-left: 5px;
  font-size: 16px;
}
.box-that-hold-the-media:before {
  content: "";
  display: block;
  padding-top: 80%;
}
.box-that-hold-the-media video {
}
.pjdjj {
  position: relative;

  min-width: 120px;
  display: flex;
  justify-content: flex-end;
}
.ifinsfkifkr {
  display: flex;
  width: 100%;
  max-width: 170px;
}
.info-about-the-person {
  width: 100%;

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-of-people img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.icon-of-people {
  background-color: var(--main-bg-cool-rgb);
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  border-radius: 50%;
}
.particular-info-about-the-person p {
  font-size: 18px;

  width: 100%;
  font-weight: 600;
}
.particular-info-about-the-person {
  padding-left: 10px;
  width: calc(100% - 35px);

  display: flex;
  align-items: center;
}
.box-that-hold-the-media {
  position: relative;
  width: 100%;
}
.box-that-hold-the-media img {
  object-fit: cover;
  position: absolute;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.link-to-profile {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.icon-of-user {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
}
.User-infomation p:nth-child(1) {
  font-weight: bold;
}

.like-commenrt {
  display: flex;

  right: 0;
  align-items: flex-end;
}
.User-infomation p {
  margin: 2px;
}
.crolto-hit {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  overflow: scroll;
  background-color: var(--main-bg-cool-rgb);
  flex-direction: column;
  backdrop-filter: blur(20px);
}
.wrper-info {
  width: 100%;
  max-width: 850px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.User-infomation {
  height: 60px;
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  padding-left: 10px;
  flex-direction: column;
}
.icon-of-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.user-info-imformationo {
  position: relative;
  width: 100%;
  width: 100%;
  max-width: 850px;
  height: 70px;
  display: flex;
  align-items: center;
}

.like {
  border-radius: 30px;
  background-color: var(--main-bg-cool-rgb);
  backdrop-filter: blur(10px);
}
.comment {
  border-radius: 30px;
}
.close-it {
  justify-content: space-between;
  width: 100%;

  align-self: flex-end;
}
.link-to-comment {
  position: absolute;

  width: 100%;
  height: 100%;
}
.close-it {
  position: relative;
}
.info-about {
  position: relative;
  padding: 20px;
  min-width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.box-hold-workout {
  padding: 10px;
  position: relative;

  margin: 5px;
}
.dis {
  color: var(--text);
  padding: 0;
}
.box-hold-workout:before {
  content: "";
  padding-top: 100%;
  display: block;
}
.box-hold-workout img {
  width: 100%;

  object-fit: cover;
  opacity: 1;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  position: absolute;
}

@media only screen and (max-width: 1200px) {
  .box-thjjsjjjr {
  }
  .box-media-box {
    position: relative;
  }
  .box-that-hold-the-media:before {
    display: none;
  }
  .box-that-hold-the-media {
    height: 100%;
  }
  .box-that-hold-the-media img {
  }
  .info-about-the-person {
    display: none;
  }
  .contiantien-post > div:nth-child(1n) {
    grid-row-end: span 30;
  }
  .contiantien-post > div:nth-child(2n) {
    grid-row-end: span 35;
  }
  .contiantien-post > div:nth-child(3n) {
    grid-row-end: span 40;
  }

  .contiantien-post {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 10px;
    columns: 2;
  }
  .wrper-info {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
    padding-top: 10px;
    justify-content: flex-start;
  }
  .user-info-imformationo {
    width: calc(100% - 10px);
  }
}

/*
@media only screen and (max-width:980px){
	.contiantien-post{
		grid-template-columns:repeat(3,minmax(100px, 1fr));
	
	}
	.box-that-hold-the-media:before{

		

	}


	

.box-hold-workout{
	margin: 1px;
}



}

*/
@media only screen and (max-width: 1000px) {
  .wraperrrfnnf-efnv {
    height: calc(100vh - 120px);
    max-height: calc(1500px - 120px);
  }
}
