* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
html {
}
#root {
  --main-bg-side-dark: #212529;
  --main-bg-pagebox-dark: #1f2125;
  --main-bg-box-dark: #2d3136;
  --main-bg-box-item-dark: #2a2e32;
  --text-dark: white;
  --main-bg-cool-rgb-dark: rgba(255, 255, 255, 0.2);
  --main-bg-pagebox-white: #f7f6fb;
  --main-bg-box-item-white: #f7f6fb;
  --main-bg-box-white: #f7f6fb;
  --main-bg--side-white: #fff;
  --text-light: #191919;
  --main-bg-cool-rgb-white: rgba(0, 0, 0, 0.2);
}

[color-scheme="dark"] {
  --main-bg-side: var(--main-bg-side-dark);
  --text: var(--text-dark);
  --main-bg-box: var(--main-bg-box-dark);
  --main-bg-box-item: var(--main-bg-box-item-dark);
  --main-bg-cool-rgb: var(--main-bg-cool-rgb-dark);
  --main-bg-pagebox: var(--main-bg-pagebox-dark);
}
[color-scheme="light"] {
  --main-bg-side: var(--main-bg--side-white);
  --text: var(--text-light);
  --main-bg-box: var(--main-bg-box-white);
  --main-bg-box-item: var(--main-bg-box-item-white);
  --main-bg-cool-rgb: var(--main-bg-cool-rgb-white);
  --main-bg-pagebox: var(--main-bg-pagebox-white);
}
.hajfffu {
  width: 50px;
  height: 50px;
}
.hajfffu img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#loginBox {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--main-bg-box);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.warer-sin a {
  margin-left: 5px;
  color: #6f56e5;
  font-weight: bold;
}
.warer-sin {
  display: flex;
  color: var(--text);
  width: 100%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.exter-messge {
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--main-bg-box);
}
.div-hold-box {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-pagebox);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#agreement {
  margin-top: 5px;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}
#text-agree {
  font-size: 15px;
}
#check {
  border: none;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#text {
  margin-top: 30px;

  font-weight: bold;
  font-size: 20px;

  text-transform: uppercase;
}
#confirm {
  border: none;
  background-color: #191919;
  width: 90%;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: 400;
  font-size: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
}
#privacy {
  color: #148f77;
}
#info-agree {
  width: 90%;
  text-align: center;
  margin-top: 10px;
}
.smal-descritptpr {
  color: var(--text);
  line-height: 25px;
  padding-bottom: 10px;
}
#info-agree a {
  line-height: 24px;
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}
#title {
  text-align: center;
  position: absolute;
  top: 50px;

  width: 100%;
  font-size: 25px;
  text-transform: uppercase;
}
.wrapeeriror {
  width: 100%;
}
#container {
  position: relative;
  width: 100%;

  height: 100vh;
  display: flex;

  align-items: center;

  flex-direction: column;
}
.tite-box {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-size: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
::placeholder {
}
.sign {
  font-size: 30px;
  letter-spacing: 1px;
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  align-items: center;
  color: var(--text);
}

.smal-descritptp {
  width: 100%;
  color: var(--text);
  padding-left: 10px;
  padding-bottom: 15px;
}
.join {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  display: flex;

  width: 100%;
  color: var(--text);
}
.wrapjrijrr {
  width: 100%;
  max-width: 400px;
}
.tite-box p {
  letter-spacing: 1px;
  color: #000;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
#registerbox {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  width: 100%;

  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--main-bg-box);
  align-items: center;
}
.user-info {
  outline: none;
  border: none;
  font-size: 20px;
  text-align: start;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
  width: 300px;
  background: none;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);

  height: 50px;
  color: white;
}

#register {
  width: 100%;
  height: 40px;
  background: #6f56e5;
  margin-top: 10px;
  outline: none;
  border: none;

  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.messsage {
  font-size: 14px;
  margin-bottom: 7px;
  width: 100%;
  color: #cb4335;
}
#login {
  width: 100%;
  min-height: 45px;
  max-height: 45px;
  font-size: 18px;
  line-height: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: white;
  border: 0;

  text-transform: uppercase;
  background: #6f56e5;
  border-radius: 5px;
}

@media only screen and (max-height: 550px) {
  .div-hold-box {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 450px) {
  #registerbox {
    box-shadow: none;
  }
  .exter-messge {
    box-shadow: none;
    height: 60px;
    margin-top: 0px;
  }
  #info-agree {
    width: 100%;
  }
  #info-agree a {
    font-size: 15px;
    line-height: 20px;
  }
  #loginBox {
    box-shadow: none;
  }
}
