@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;

  -webkit-tap-highlight-color: transparent;
}

:root {
  --main-bg-side-dark: #212529;
  --main-bg-pagebox-dark: #1f2125;
  --main-bg-box-dark: #2d3136;
  --main-bg-box-item-dark: #2a2e32;
  --text-dark: white;
  --main-bg-cool-rgb-dark: rgba(252, 95, 95, 0.2);
  --main-bg-pagebox-white: #fff;
  --main-bg-box-item-white: #f7f6fb;
  --main-bg-box-white: #f7f6fb;
  --main-bg--side-white: #fff;
  --text-light: #191919;
  --main-bg-cool-rgb-white: rgba(0, 0, 0, 0.2);
}
[color-scheme="dark"] {
  --main-bg-side: var(--main-bg-side-dark);
  --text: var(--text-dark);
  --main-bg-box: var(--main-bg-box-dark);
  --main-bg-box-item: var(--main-bg-box-item-dark);
  --main-bg-cool-rgb: var(--main-bg-cool-rgb-dark);
  --main-bg-pagebox: var(--main-bg-pagebox-dark);
}
[color-scheme="light"] {
  --main-bg-side: var(--main-bg--side-white);
  --text: var(--text-light);
  --main-bg-box: var(--main-bg-box-white);
  --main-bg-box-item: var(--main-bg-box-item-white);
  --main-bg-cool-rgb: var(--main-bg-cool-rgb-white);
  --main-bg-pagebox: var(--main-bg-pagebox-white);
}

p {
  font-family: "Roboto", sans-serif;
}
div {
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
}
a {
  font-family: "Roboto", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
}
button {
  font-family: "Roboto", sans-serif;
}
html {
  font-family: "Roboto", sans-serif;
}
video {
  background-color: var(--main-bg-cool-rgb) !important;
}
